@import '@/assets/styles/scssVars.scss';

* {
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: $textColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

body {
	background-color: $bg;
	margin: 0;
	padding: 0;
}

select {
	background-color: $bgContrast;
	padding: 0.25rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	// margin-bottom: 0.5rem;
}

button {
	color: $textColor;
	margin: 0.25rem;
	padding: 0.25rem;
	font-size: 1.5rem;
	background-color: $buttonColor;
	color: white;
	border: none;
	cursor: pointer;

	&:hover {
		background-color: $bgContrast;
	}
}

@keyframes fadeIn {
	0% {
		background-color: rgba($primary, 0);
	}
	100% {
		background-color: $primary;
	}
}

@keyframes fadeOut {
	100% {
		background-color: rgba($primary, 0);
	}
	0% {
		background-color: $primary;
	}
}

input[type='radio'] {
	-webkit-appearance: none;
	appearance: none;
	background-color: $bg;
	margin: 0;
	font: inherit;
	color: $textColor;
	width: 1.1rem;
	height: 1.1rem;
	border: 0.2rem solid $bg;
	outline: 0.15rem solid $textColor;
	border-radius: 50%;
	transform: translateY(0.15rem);
	margin-right: 0.35rem;
	animation-duration: $animTime;
	animation-name: fadeOut;

	&:checked {
		background-color: $primary;
		animation-name: fadeIn;
	}
}

input {
	background-color: $bgContrast;
}
