$bg: rgb(0, 43, 54);
$bgContrast: rgb(7, 54, 66);
$textColor: rgb(247, 251, 253);
$primary: rgb(42, 161, 152);
$highlight: rgb(211, 54, 130);

$animTime: 0.25s;

$headerHeight: 4rem;
$gap: 0.5rem;
$footerHeight: 2.25rem;
